In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets: #planet disini dimaksudkan bahwa kita memberikan nama variabel planet
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [2]:
a = int(input())
b = int(input())

try:
    c = a/b
except Exception as e:
    print('raising error in:', e)
finally:
    print('Finish')

Finish

## If Else

In [7]:
nilai1 = 75
nilai2 = 80

if nilai1 == 75:
    print("Nilai anda = ",nilai1)
    if nilai2 == 80:
        print("Nilai anda = ",nilai2)

Nilai anda =  75
Nilai anda =  80

## Teknik Looping

In [12]:
nama = ['satu','dua','tiga','empat']
umur = ['20','25','30','35']

#for i, nama in enumerate(nama):
    #print(i,nama)

for nama, umur in zip(nama,umur):
    print(nama, 'memiliki umur :',umur)

satu memiliki umur : 20
dua memiliki umur : 25
tiga memiliki umur : 30
empat memiliki umur : 35