<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [2]:
Soal1 = "Hello World Python"

print(Soal1)

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [11]:
bil1 = 21
bil2 = 1998
bil3 = 2

#Penjumlahan
print("Hasil dari 21 ditambah 1998 adalah : ",bil1 + bil2)

#Perkurangan
print("Hasil dari 21 dikurang 1998 adalah : ",bil1 - bil2)

#Perkalian
print("Hasil dari 21 dikali 2 adalah : ",bil1*bil3)

#Pembagian
print("Hasil dari 21 dibagi 2 adalah : ",bil1/bil3)

Hasil dari 21 ditambah 1998 adalah :  2019
Hasil dari 21 dikurang 1998 adalah :  -1977
Hasil dari 21 dikali 2 adalah :  42
Hasil dari 21 dibagi 2 adalah :  10.5

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [66]:
a = 10
b = 2

#Data Integer
print((a//b))

#Data Float
print(a/b)

5
5.0

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [38]:
FirstName = "Hariz"
LastName = "Reza"
print("Hello Sanbercode, saya "+FirstName+" "+LastName+"! saya siap belajar python Data Science")

Hello Sanbercode, saya Hariz Reza! saya siap belajar python Data Science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [58]:
p = 9.99999
q = 'the number: '
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999